/*
* Colors
*/
/*
orbit colors
*/
/*
* Fonts
*/
/**
* MEDIA QUERY MANAGER
**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.night-mode h1,
.night-mode h2,
.night-mode h3,
.night-mode h4,
.night-mode h5,
.night-mode h6 {
  color: #ffffff;
}

.section-padding {
  padding: 80px 0;
}

.section-padding-t {
  padding-top: 80px;
}

.section-padding-b {
  padding-bottom: 80px;
}

.buttons__layouts {
  height: 595px;
}

@media only screen and (max-width: 575px) {
  .section-padding {
    padding: 60px 0;
  }
  .section-padding-t {
    padding-top: 60px;
  }
  .section-padding-b {
    padding-bottom: 60px;
  }
}

.hero-padding {
  padding: 120px 0px 90px 0px;
}
@media only screen and (max-width: 575px) {
  .hero-padding {
    padding: 100px 0px 70px 0px;
  }
}

.bg-one {
  background-color: #f0f4ff;
}

.dark-bg {
  background-color: #161e2e;
}

.dark-text {
  background-color: #0d1321;
}

.color-one {
  color: #0184FF;
}

#preLoader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: preLoader 1s 1s linear forwards;
  background: #ffffff;
}

.night-mode #preLoader {
  background: #161e2e;
}

.gap-4 {
  gap: 10px;
}

.position-relative {
  position: relative;
}

.wpChat-demo-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}
.wpChat-demo-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.wpChat-demo-scroll::-webkit-scrollbar-track {
  background-color: var(--color-message);
  margin-block: 0.5em;
}
.wpChat-demo-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
.wpChat-demo-scroll::-webkit-scrollbar-thumb:hover {
  opacity: 0.2;
}
.layouts-page * {
  box-sizing: border-box;
} 
.layouts-page {
  height: 700px;
  overflow: hidden;
}
.layouts-page .layouts__title {
  padding: 15px;
}

.layouts-box {
  right: 30px !important;
}

.switch-box .switch {
  position: relative;
  width: 32px;
  height: 32px;
}
.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-box .slider:before {
  position: absolute;
  content: "\ef9e";
  font-family: IcoFont;
  color: #ffffff;
  font-size: 18px;
  top: 3px;
  font-weight: 700;
  transition: 0.4s;
}
.switch-box .slider.round {
  border-radius: 50px;
}
.switch-box .slider.round:before {
  border-radius: 50%;
}

.switch-box input:checked + .slider:before {
  content: "\ee7e";
  color: #ffffff;
}

.theme-light .switch-box .slider {
  background-color: #0184FF;
}

.night-mode .switch-box .slider {
  background-color: #0184FF;
}

.layouts__area {
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  .layouts__area {
    padding: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .layouts__area {
    padding: 10px 0;
  }
}

.layouts__wrapper {
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .layouts__wrapper {
    height: 660px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0px;
    scrollbar-width: thin;
  }
  .layouts__wrapper::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  .layouts__wrapper::-webkit-scrollbar-track {
    background-color: var(--color-message);
    margin-block: 0.5em;
  }
  .layouts__wrapper::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }
  .layouts__wrapper::-webkit-scrollbar-thumb:hover {
    opacity: 0.2;
  }
}

.layouts__sidebar {
  height: 595px;
}

.layouts__popup {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .layouts__popup {
    padding: 0;
    height: 0;
  }
}
.layouts__popup__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  transition: width 1s;
  border: 15px solid #0d1321;
  border-radius: 20px;
}
@media only screen and (max-width: 991px) {
  .layouts__popup__wrapper {
    border: 10px solid #0d1321;
  }
}
@media only screen and (max-width: 575px) {
  .layouts__popup__wrapper {
    border: 0px solid #0d1321;
  }
}
.layouts__popup__wrapper .wpChat,
.layouts__popup__wrapper .wpChat-multi {
  position: absolute;
}
@media only screen and (max-width: 575px) {
  .layouts__popup__wrapper .wpChat,
  .layouts__popup__wrapper .wpChat-multi {
    right: 0 !important;
  }
}
.layouts__popup.layouts__popup-width {
  padding: 20px;
}
@media only screen and (max-width: 575px) {
  .layouts__popup.layouts__popup-width {
    padding: 0;
  }
}
.layouts__popup.layouts__popup-width .layouts__popup__wrapper {
  width: 375px;
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  background-color: #ffffff;
  border-radius: 10px;
  transition: width 1s;
}

.layouts #change_effect_popup {
  width: 75%;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #4a4f61;
  padding: 10px;
}
.layouts #change_effect_popup:focus {
  outline: none;
}
.wpChat#example_9 {
  padding: 30px;
  height: 100%;
  overflow-y: scroll;
}
.wpChat#example_9 h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.buttons_wrapper:not(:last-child) {
  margin-bottom: 40px;
}
.buttons_wrapper button,
.buttons_wrapper a {
  margin-right: 10px;
  margin-bottom: 10px;
}
.section_title {
  text-align: center;
  margin-bottom: 30px;
}
.section_title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}
.section_title p {
  font-size: 16px;
  color: #4a4f61;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .layouts #change_effect_popup {
    width: 100%;
  }
}

.layouts .usage_example .layouts__design {
  border: 5px solid #f0f4ff;
  transition: all 0.3s;
  cursor: pointer;
}
.layouts .usage_example .layouts__design img {
  width: 100%;
  object-fit: content;
}
.layouts .usage_example .layouts__design .layouts__title {
  text-align: center;
  background-color: #0184FF;
  padding: 15px;
  color: #ffffff;
  transition: 0.5s;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .layouts .usage_example .layouts__design .layouts__title {
    font-size: 12px;
    padding: 10px;
  }
}
.layouts .usage_example .layouts__design:hover {
  border: 5px solid #0184FF;
}
.layouts .usage_example .layouts__design:hover .layouts__title {
  text-align: center;
  background-color: #161e2e;
  color: #ffffff;
}

.layouts .usage_example.selected .layouts__design {
  border: 5px solid #0184FF;
}
.layouts .usage_example.selected .layouts__design .layouts__title {
  text-align: center;
  background-color: #161e2e;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .layouts .usage_example.selected .layouts__design .layouts__title {
    font-size: 12px;
    padding: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .layouts__sidebar {
    display: none;
  }
}

.layouts__menu {
  display: none;
}
@media only screen and (max-width: 575px) {
  .layouts__menu {
    display: block;
    position: relative;
  }
}
.layouts__menu-btn {
  position: absolute;
  z-index: 9990;
  left: 15px;
  width: 35px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  border: none;
}
.layouts__menu-btn:focus {
  outline: none;
}
.layouts__menu__area {
  background-color: #ffffff;
  padding: 15px;
  z-index: 9999;
  position: relative;
  display: block;
  -webkit-animation: fadeIn 0.6s;
  animation: fadeIn 0.6s;
}
.layouts__menu__area .usage_example .layouts__menu__design {
  border: 5px solid #f0f4ff;
  transition: all 0.3s;
  cursor: pointer;
}
.layouts__menu__area .usage_example .layouts__menu__design img {
  width: 100%;
  object-fit: content;
}
.layouts__menu__area
  .usage_example
  .layouts__menu__design
  .layouts__menu__title {
  text-align: center;
  background-color: #0184FF;
  padding: 15px;
  color: #ffffff;
  transition: all 0.5s;
  font-size: 14px;
}
.layouts__menu__area.teleSupport-layouts
.usage_example
.layouts__menu__design
.layouts__menu__title {
    background-color: #0088CC;
  }
@media only screen and (max-width: 1400px) {
  .layouts__menu__area
    .usage_example
    .layouts__menu__design
    .layouts__menu__title {
    font-size: 12px;
    padding: 10px;
  }
}
.layouts__menu__area .usage_example .layouts__menu__design:hover {
  border: 5px solid #0184FF;
}
.layouts__menu__area.teleSupport-layouts .usage_example .layouts__menu__design:hover {
  border: 5px solid #0088CC;
}
.layouts__menu__area
  .usage_example
  .layouts__menu__design:hover
  .layouts__menu__title {
  background-color: #161e2e;
  color: #ffffff;
}
.layouts__menu__area .usage_example.selected .layouts__menu__design {
  border: 5px solid #0184FF;
}
.layouts__menu__area.teleSupport-layouts .usage_example.selected .layouts__menu__design {
  border: 5px solid #0088CC;
}
.layouts__menu__area
  .usage_example.selected
  .layouts__menu__design
  .layouts__menu__title {
  text-align: center;
  background-color: #161e2e;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .layouts__menu__area
    .usage_example.selected
    .layouts__menu__design
    .layouts__menu__title {
    font-size: 12px;
    padding: 10px;
  }
}
.layouts__menu__design {
  border: 5px solid #f0f4ff;
  transition: all 0.3s;
  cursor: pointer;
}
.layouts__menu__design img {
  width: 100%;
  object-fit: content;
}
.layouts__menu__design__title {
  text-align: center;
  background-color: #0184FF;
  padding: 15px;
  color: #ffffff;
  transition: 0.5s;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .layouts__menu__design__title {
    font-size: 12px;
    padding: 10px;
  }
}
.layouts__menu__design:hover {
  border: 5px solid #0184FF;
}
.layouts__menu__design:hover .layouts__title {
  text-align: center;
  background-color: #161e2e;
  padding: 15px;
  color: #ffffff;
}
@media only screen and (max-width: 1400px) {
  .layouts__menu__design:hover .layouts__title {
    font-size: 12px;
    padding: 10px;
  }
}

.night-mode .layouts,
.night-mode .layouts__area {
  background-color: #161e2e;
}

.night-mode .buttons {
  background-color: #161e2e;
}

.layouts__popup .mobile-view {
  z-index: 999;
}
@media only screen and (max-width: 575px) {
  .layouts__popup .mobile-view {
    display: none;
  }
}

.layouts__popup .desktop-view {
  z-index: 990;
}
@media only screen and (max-width: 575px) {
  .layouts__popup .desktop-view {
    display: none;
  }
}

.layouts__popup.layouts__popup-width .mobile-view {
  z-index: 990;
}

.layouts__popup.layouts__popup-width .desktop-view {
  z-index: 999;
}

.layouts__popup.layouts__popup-width .wpChat {
  right: 15px;
  bottom: 15px;
}
.layouts__popup.layouts__popup-width .wpChat.wpChat-left {
  right: 15px;
  bottom: 15px;
}
.layouts__popup.layouts__popup-width .wpChat__popup {
  width: 290px;
}
.layouts__popup.layouts__popup-width .wpChat__popup--header {
  padding: 15px;
}
.layouts__popup.layouts__popup-width .wpChat__popup--content {
  padding: 15px;
}

.layouts__popup.layouts__popup-width .wpChat-multi {
  right: 15px;
  bottom: 15px;
}
.layouts__popup.layouts__popup-width .wpChat-multi.wpChat-multi-left {
  right: 15px;
  bottom: 15px;
}
.layouts__popup.layouts__popup-width .wpChat-multi .wpChat-left {
  right: 15px;
  bottom: 15px;
}
.layouts__popup.layouts__popup-width .wpChat-multi__popup {
  width: 280px;
}
.layouts__popup.layouts__popup-width .wpChat-multi__popup--header {
  padding: 15px;
}

.mobile-view,
.desktop-view {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: #f0f4ff;
  padding: 5px;
  border-radius: 3px;
  border: none;
      display: flex;
      align-items: center;
    justify-content: center;
}
.mobile-view:focus,
.desktop-view:focus {
  outline: none;
}

.night-mode .layouts__popup__wrapper {
  border-color: #ffffff;
}

.layouts .watsHelp-layouts .usage_example .layouts__design .layouts__title {
  background-color: #118c7e;
}

.layouts .watsHelp-layouts .usage_example .layouts__design:hover {
  border: 5px solid #118c7e;
}
.layouts
  .watsHelp-layouts
  .usage_example
  .layouts__design:hover
  .layouts__title {
  background-color: #161e2e;
  color: #ffffff;
}

.layouts .watsHelp-layouts .usage_example.selected .layouts__design {
  border: 5px solid #118c7e;
}

.layouts .mcs-layouts .usage_example.selected .layouts__design {
  border: 5px solid #0184FF;
}

.layouts .teleSupport-layouts .usage_example .layouts__design .layouts__title {
  background-color: #0088cc;
}

.layouts .teleSupport-layouts .usage_example .layouts__design:hover {
  border: 5px solid #0088cc;
}
.layouts
  .teleSupport-layouts
  .usage_example
  .layouts__design:hover
  .layouts__title {
  background-color: #161e2e;
  color: #ffffff;
}

.layouts .teleSupport-layouts .usage_example.selected .layouts__design {
  border: 5px solid #0088cc;
}
#example_2,
#example_3,
#example_4,
#example_5,
#example_6,
#example_7,
#example_8,
#example_9 {
  display: none;
}

.text-center {
  text-align: center;
}